.codeHighlight pre{
  background: none !important;
}
.codeHighlight span{
  background: none !important;
}
.codeHighlight code{
  white-space: pre-wrap !important;
}
.copyImage:hover path{
  stroke: #579AFF;
}